<div class="card">
  <figure>
    <img [src]="product.image.mobile" alt="product image" />
    <div (click)="addToCart(product.name, product.price)" class="addtocart">
      @if(isAdded){
      <span (click)="decreaseQuantity()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="10"
          height="2"
          fill="none"
          viewBox="0 0 10 2"
        >
          <path d="M0 .375h10v1.25H0V.375Z" />
        </svg>
      </span>
      {{ quantity }}
      <span (click)="increaseQuantity()" >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="10"
          height="10"
          fill="none"
          viewBox="0 0 10 10"
        >
          <path
            d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"
          />
        </svg>
      </span>

      } @else {
      <img src="../../assets/images/icon-add-to-cart.svg" alt="addtocart" />
      Add to Cart }
    </div>
  </figure>
  <div class="description">
    <p class="category">{{ product.name }}</p>
    <p class="productname">{{ product.category }}</p>
    <p class="price">{{ product.price | currency }}</p>
  </div>
</div>
