<div class="main">
  <div [style.overflow]="modalOpen ? 'hidden' : 'auto'" class="container">
    <div class="products-wrapper">
      <h1>Desserts</h1>
      <div class="products" *ngIf="products$">
        <app-product-card
          *ngFor="let product of products$ | async"
          [product]="product"
        ></app-product-card>
      </div>
    </div>
    <div [style.position]="modalOpen ? 'static' : 'sticky'" class="cart-wrapper">
      <app-cart (modalOpened)="modal($event)" (modalClosed)="modal($event)"></app-cart>
    </div>
  </div>
</div>
