.container {
  background-color: var(--Rose-100);
  max-width: 1520px;
  height: 100vh;
  display: flex;
  font-family: "Red Hat Text", sans-serif;
  padding: 3rem;
}

h1 {
  margin-bottom: 2rem;
}
/* products wrapper */
.products-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
}

/* products (this is the container of cards)*/
.products {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

/* cart container */
.cart-wrapper {
  top: 0;
  width: 30%;
  overflow-y: auto;
}

@media (max-width: 1238px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}

@media (max-width: 928px) {
  .products-wrapper {
    width: 60%;
  }
  .cart-wrapper {
    width: 40%;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

@media (max-width: 796px) {
  .container{
    flex-direction: column;
  }
  .products-wrapper {
    width: 100%;
  }
  .cart-wrapper {
    width: 100%;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

@media (max-width: 570px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }
  .products-wrapper {
    width: 100%;
  }
  .cart-wrapper {
    width: 100%;
  }
  .products {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}
