.container {
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 1rem;
  border-block-end: 1px solid #f4f4f4;
}

.productDetails {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.prices {
  display: flex;
  gap: 0.5rem;
}

/* text */
.quantity {
  color: #952c0c;
  font-weight: 800;
}
.price {
  color: #8c7b79;
}
.total {
  color: #867874;
}

/* remove from cart icon */
.removewarapper {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100vw;
  font-size: 0.8rem;
  font-weight: 800;
  color: white;
  cursor: pointer;
}
